# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env
.env.*

# Build files
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Frontend (Vite/React)
.vite/

# Coverage (testing)
coverage/